{
  "plugins": [
    [
      "babel-plugin-root-import",
      { 
        "paths": [
          {
            "rootPathSuffix": "./src/assets/images/png",
            "rootPathPrefix": "images/"
          },
          {
            "rootPathSuffix": "./src",
            "rootPathPrefix": "~/"
          }
        ]
      }
    ]
  ]
}